<!DOCTYPE html>
<html lang="en" onclick="jump()">
<head>
    <meta charset="UTF-8">
    <title>Jump Game</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="title">Block Jump</div>

    <div class="game">
        <div id="character"><%=image_tag "zenitsu.png", class:"image"%></div>
        <div id="block"><%=image_tag "oni.png", class:"image2"%></div>
    </div>
    <p class="score">Score: <span id="scoreSpan"></span></p>
</body>
<script>

    console.log(window.confirm('Are you ready？'));
    let character = document.getElementById("character");
    let block = document.getElementById("block");
    let counter=0;
    function jump(){
        if(character.classList == "animate"){return}
        character.classList.add("animate");
        setTimeout(function(){
            character.classList.remove("animate");
        },300);
    }
    let checkDead = setInterval(function() {
        let characterTop = parseInt(window.getComputedStyle(character).getPropertyValue("top"));
        let blockLeft = parseInt(window.getComputedStyle(block).getPropertyValue("left"));
        if(blockLeft<20 && blockLeft>-20 && characterTop>=130){
            block.style.animation = "none";
            if (Math.floor(counter/100) < 5 ) {
                alert("Too Bad. score: "+Math.floor(counter/100));
            }
                console.log(window.confirm('Are you ready?'));
            counter=0;
            block.style.animation = "block 1s infinite linear";
        }else{
            counter++;
            document.getElementById("scoreSpan").innerHTML = Math.floor(counter/100);
        }   
    }, 10);</script>
</html>