canvas 
{ background: #eee; 
    display: block; 
    margin: 0 auto; 
}

.intro {
  width:100%;
  background-image: url("retro.png");
  opacity:70%;
  font-size:100px;
  text-align:center;
}

.retro-games {
  font-size:50px;
  font-family: 'HanziPen TC',sans-serif;
  word-spacing:30px;
  padding:40px 20px 20px 20px;
  text-align:center;
}

.games {
  display:flex;
  justify-content:center;
  font-family: 'HanziPen TC',sans-serif;

}

.games :hover {
  background-color:rgba(216, 243, 15, 0.438);
  color:black;
}

.game-title {
  color:white;
  font-size:20px;
  padding:30px;
  display:inline-block;
  width:228px;
  height:50px;
  background-color:rgba(0, 0, 0, 0.671);
  text-decoration:none;
  text-align:center;
  margin:30px 20px 0 20px;
  line-height:50%;

}.games img{
  display:inline-block;
  width:228px;
  text-decoration:none;
  text-align:center;
  margin:0px 20px 0 20px;
    border-radius:0%;
    margin-top:20px;
    border-radius:10%;
}